{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="{% static 'home.js' %}"></script>
<div class="flex-1 flex flex-col" style="background-color: #FAF9F9;">
  {% include "partials/hero_section.html" %}
  {% include "partials/carousel_section.html" %}
  {% include "partials/top_therapists_section.html" with therapists=therapists %}
</div>
{# Modal markup placed at end so page hero/content are not nested within (avoids hidden-on-load issue) #}
{% include "partials/profile/profile_display.html" %}
{% endblock %}
