{# Anchors for sidebar navigation keys that map into the General section #}
<div id="section-photo"></div>
<div id="section-name"></div>
<div id="section-practice"></div>
<div id="section-availability"></div>
<div id="section-license"></div>
<div id="section-intro"></div>

{# General header/card (photo, name, chips, intro) #}
{% include 'partials/profile/sections/_general.html' with editable=1 standalone=1 %}

{# Identity #}
{% include 'partials/profile/sections/_identity.html' with editable=1 standalone=1 %}

{# About Me (statements + media overview) #}
{% include 'partials/profile/sections/_about.html' with editable=1 standalone=1 %}

{# Locations #}
{% include 'partials/profile/sections/_locations.html' with editable=1 standalone=1 %}

{# Therapy & Specialties #}
{% include 'partials/profile/sections/_therapy_specialties.html' with editable=1 standalone=1 %}

{# Testing & Evaluation #}
{% include 'partials/profile/sections/_testing_evaluation.html' with editable=1 standalone=1 %}

{# Fees & Insurance #}
{% include 'partials/profile/sections/_fees_insurance.html' with editable=1 standalone=1 %}

{# Client Focus #}
{% include 'partials/profile/sections/_client_focus.html' with editable=1 standalone=1 %}

{# Contact & Web #}
{% include 'partials/profile/sections/_contact_web.html' with editable=1 standalone=1 %}

{# Qualifications #}
{% include 'partials/profile/sections/_qualifications.html' with editable=1 standalone=1 %}

{# Media Manager (gallery/video management) #}
{% include 'partials/profile/sections/_media_manager.html' with editable=1 standalone=1 %}

